
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0D1B2A;
    height: 100svh;
    overflow: hidden;
}


.ui {
    position: relative;
    height: 100svh;
    overflow: hidden;
    background-color: #0D1B2A;
    border-bottom: 2px solid darkgray;
}


.menu {
    z-index: 2;
    padding: 1rem;
}


.components {
    z-index: 1;
    position: absolute;
    top: 30;
    left: 0;
    height: 100svh;
    width: 100svw;
}
